<div class="container parrafo bg-white bg-gradient text-light " [ngClass]="{'sidebar-visible': isSidebarVisible}">
  <div class="d-flex mb-3">
    <div class="offcanvas-header w-100">

    </div>
    <button type="button" class="btn btn-danger btn-outline-danger text-light mt-3 p-2 h-25 flex-shrink-1"
      (click)="isSidebarVisible = !isSidebarVisible">X</button>

  </div>

  <div class="offcanvas-body text-light mt-2 p-1">
    <p class="text-dark">Aqui tens els llocs guardats</p>

    <div class="form-floating text-dark" >

      <div class="list-item-group justify-content-evenly mt-2 ms-2 h-25 p-2 rounded-sm marcador" *ngFor="let marker of marcadores">
        <div class="" *ngIf="editMode">
          <input type="text"
          [(ngModel)]="marker.description"
          />
          <button>E</button>
          <button (click)="cancelEdit()">X</button>
        </div>
        <span class="list-item text-dark bg-light p-1 rounded-pill fs-3">{{marker.description}} </span>
        <button (click)="editDescription()"><i class="fa-regular fa-pen-to-square"></i></button>
        <button (click)="deleteMarker(marker)"><i class="fa-solid fa-trash-can"></i></button>
        <hr class="text-dark">
        <span class="bg-primary  text-light fw-light fs-6 rounded-pill mt-4 ms-1 p-1" (click)="centerMapToCoordinate(marker.coordinate)">{{marker.coordinate}}</span>

      </div>
      <!-- <textarea class="form-control text-dark h-25 " placeholder="Escriu..." id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Vull anar a...</label>-->
    </div>
  </div>



</div>
