.container_btn_dibujo{
  width: 90px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3px;
  gap: 10px;
  position: absolute;
  right: 0;
  top:27vh;
  z-index: 0;
}

.parrafo{
  position: absolute;
  top: 10px;
  left: -560px;
  overflow-x: hidden;
  scroll-behavior: hidden;
  height: 100vh;
  z-index: 500;
  transition: left 0.7s ease;
}

.marcador{
  background-color: rgb(248, 246, 243);
}

.btn-outline-success,
.btn-outline-danger{
  height: 40px;
}



.sidebar-visible{
  left:0;
}

@media (min-width:320px) {
.parrafo{
  width: 100%;
  top: 0;
}


}
@media (min-width:481px) {
  .parrafo{
    width: 100%;
    top: 0;
  }


}
@media(min-width: 641px) {
  .parrafo{
   width: 50%;
   top: 0;
  }


}
@media(min-width: 1025px) {
  .parrafo{
    width: 38%;
  }


}

